venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/Output/
build/UTVFX_AI_VFX_Tool/
*.spec
logs/
outputs/
cache/
models/ONNX_Exports/
.DS_Store
Thumbs.db
.agents/
.gemini/
python_base/
*.pth
*.pt
*.onnx
*.safetensors
*.ckpt
*.bin
*.dll
*.exe
build/
UTVFX_Models.zip
workspace/
*.png
*.exr
*.jpg
!resources/*.png

releases/
crash.log

